* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}



section {
    padding: 2rem 9%;
}

.about {

    margin-top: 0;
    background: #FFC107;
    min-height: 70vh;
}


.heading {

    padding-top: 30rem;
    text-align: start;
    position: absolute;


}

.heading span {
    font-size: 2.5rem;
}


.container-about {
    padding: 27rem;
    padding-right: 3rem;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;


}

.apadrinhar {

    margin-top: 0;
    background: #FFFF;
    min-height: 70vh;
}

.heading-1 {

    padding-top: 30rem;
    text-align: start;
    position: absolute;


}

.heading-1 span {
    font-size: 2.5rem;
}


.container-apadrinhar {
    padding: 27rem;
    padding-right: 3rem;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;


}

.card-title1 {


    padding: 20rem;
    display: block;
    border-radius: 10px 20px 30px 40px;
    background: #FFC107;
    min-height: 100vh;
}

.card-title2 {
    margin-top: 20rem;
}



.style_footer {
    padding-top: 20px;
    margin: 0;
    width: 100%;
    background: #333;
    min-height: 30vh;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #ffff;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    font-size: 1.4rem;

}

.btn:hover {
    background: #FFC107;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFC107;
    padding: 2rem 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .1);

}


header .logo {
    font-size: 3rem;
    color: #6e1c1c;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
}



header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #000000
}

header #toggler {
    display: none;

}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}


.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/dog-main.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {

    font-size: 6rem;
    color: #333;
}

.home .content span {

    font-size: 3.5rem;
    text-transform: none;
    color: #000000;
    padding: 2rem 0;
    line-height: 1;
}

.home .content p {

    font-size: 1.5rem;
    color: #000000;
    padding: 1rem 0;
    line-height: 1.5;
}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;

    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

}


@media (max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 0 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #ffff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }
}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }


}